*{
	margin: 0;	
	padding: 0;
}

body{
	background: #FFFFFF;
}



#contenedor4{
	width: 710px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;

}

header{
	background: #FFFFFF;
	height: 100%;
	float: left;
}
nav{
	background: #B3B3B3;
	height: 233px;
	text-align:  center;

}nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
	

}
nav a{
	color: #0C0707;
	font-size: 18px;
	font-weight: bold;
	font-family: Times New Roman;
	text-decoration: none;
	padding: 20px;
	

}
nav a:hover{
	background: #F0B429;
	color: #F47920;

}


#foto{
	margin: auto;
	margin-top: 10px;
	text-align: center;
}


#contenido4{
	float: left;
	width: 450px;
	background: #B3B3B3;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 20px;	
	margin-right: 10;
	margin-bottom: 10px;
	
}

#contenido4 h2 {
	
	text-align: center;
}
#contenido4 h6 {
	font-size: 25px;
	padding:  10px;
	font-family: Times New Roman;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.articulos4{

	margin: 10px;


}

.articulos4 h2{
	font-size: 25px;
	padding:  10px;
	font-family: Times New Roman;

}
.articulos4 img{
	float: left;
	margin: 10px;

}
.articulos4 h5{
	font-size: 20px;
	padding:  10px;
	font-family: Times New Roman;
}

.articulos4 p{
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Times New Roman;
	text-align: justify;
}

.articulos4 video{
	
	
	width: 432px;
	margin: auto;
	border-radius: 10px;
	
}

aside{
	float: right;
	width: 250px;
	background:#B3B3B3;
	margin-top: 20px;
	border-radius: 10px;
}


aside h3{
	font-size: 25px;
	background:  #F47920;
	border-radius: 4px;	
	text-align: center;
	padding: 10px;
	font-family: Times New Roman;

}
aside p{
	padding: 10px;
	font-size: 14px;
	font-family:Times New Roman;
	text-align: center;
	list-style: none;
	text-decoration: none;
}
aside a{

	text-decoration: none;
	font-family: Times New Roman;
	color: #070505;
}

footer{
	height: 40px;
	background: #005883;
	color: #FFFFFF;
	clear: both;


}
footer{
	font-family: Times New Roman;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}